In [2]:
import os,django
import pandas as pd
from orm.models import Mahasiswa,Jaringan,Rpl,Multimedia,Tesdasar
import math
import operator

In [3]:
mhs = Mahasiswa.objects.all()
mul = Multimedia.objects.all()
rpl = Rpl.objects.all()
jar = Jaringan.objects.all()
tes = Tesdasar.objects.all()

In [4]:
def ListMultimedia(mul):
    if len(mul)>0:
        cols = ['Teori Multimedia','Praktikum Multimedia','Autoring Tools','Pengolahan Citra',
                'Pengantar Teknologi Informasi','Interaksi Manusia DanKomputer']
        
        kel ={
            cols[0] : [str(a.TeoriMultimedia) for a in mul],
            cols[1] : [str(a.PraktikumMultimedia) for a in mul],
            cols[2] : [str(a.AutoringTools) for a in mul],
            cols[3] : [str(a.PengolahanCitra) for a in mul],
            cols[4] : [str(a.PengantarTeknologiInformasi) for a in mul],
            cols[5] : [str(a.InteraksiManusiaDanKomputer) for a in mul],
            
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
    
def ListJaringan(jar):
    if len(jar)>0:
        cols = ['Teori Jaringan','Praktikum Jaringan','Organisasi dan arsitektur komputer','Pengantar Jaringan',
                'Pengantar Sistem Digital','Aljabar Linear']
        
        kel ={
            cols[0] : [str(a.TeoriJaringan) for a in jar],
            cols[1] : [str(a.PraktikumJaringan) for a in jar],
            cols[2] : [str(a.OrganisasiDanArsitekturKomputer) for a in jar],
            cols[3] : [str(a.PengantarJaringan) for a in jar],
            cols[4] : [str(a.PengantarSistemDigital) for a in jar],
            cols[5] : [str(a.AljabarLinear) for a in jar],
            
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]    
        
def ListRpl(rpl):
    if len(rpl)>0:
        cols = ['Logika Informatika','Algoritma Dan Pemrograman','Pemrograman IV','Praktikum Pemrograman IV',
                'Graffika Komputer','Praktikum Graffika Komputer']
        
        kel ={            
            cols[0] : [str(a.LogikaInformatika) for a in rpl],
            cols[1] : [str(a.AlgoritmaDanPemrograman) for a in rpl],
            cols[2] : [str(a.Pemrograman4) for a in rpl],
            cols[3] : [str(a.PraktikumPemrograman4) for a in rpl],
            cols[4] : [str(a.GraffikaKomputer) for a in rpl],
            cols[5] : [str(a.PraktikumGraffikaKomputer) for a in rpl],
        }        
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]
    
def ListTest(tes):
    if len(tes)>0:
        cols = ['Multimedia','Jaringan','Rpl']
        
        kel ={
            cols[0] : [str(a.NilaiMultimedia) for a in tes],
            cols[1] : [str(a.NilaiJaringan) for a in tes],
            cols[2] : [str(a.NilaiRPL) for a in tes],
        }
        df = pd.DataFrame(data=kel)
        return df
    else:
        return[]

In [5]:
mu = pd.DataFrame(data = ListTest(tes).Multimedia)
ja = pd.DataFrame(data = ListTest(tes).Jaringan)
rp = pd.DataFrame(data = ListTest(tes).Rpl)

In [6]:
def hitung(a,b,c):
    tampung = list()
    for i in a:
        if i is 'A':        
            tampung.append(6)
        elif i == 'B+':        
            tampung.append(5)
        elif i is 'B':        
            tampung.append(4)
        elif i == 'C+':        
            tampung.append(3)
        elif i is 'C':        
            tampung.append(2)
        elif i is 'D':
            tampung.append(1)
        else:
            continue
        rata2 = sum(tampung)/len(tampung)
        tmp = [rata2, b]
        dframe = pd.DataFrame(data=tmp,columns=[c])
    return dframe        

def multimedia():
    x = hitung(ListMultimedia(mul).loc[0],mu.loc[0][0],'Multimedia')
    return x

def jaringan():
    x = hitung(ListJaringan(jar).loc[0],ja.loc[0][0],'Jaringan')
    return x
def rpls():
    x = hitung(ListRpl(rpl).loc[0],rp.loc[0][0],'Rpl')
    return x

In [7]:
gabung = pd.concat([multimedia(),jaringan(),rpls()],axis=1)
tampung =[]
for i in range(2):
    tamp= []
    for j in range(3):
        tamp.append(gabung.loc[i][j])
    tampung.append(tamp)
gabung

  Multimedia Jaringan Rpl
0    3.16667  4.66667   3
1          3        3   2

In [11]:
p1 = gabung.shape[1]
p2 = gabung.shape[1]
p3 = len(gabung.iloc[:,0])
arr = []
hasil = []
for i in range(p1):
    arr1 = []
    hasil1 = []
    for j in range(p2):
        arr2 = []
        hasil2= []
        for k in range(p3):
            z = float(gabung.iloc[:,i][k])-float(gabung.iloc[:,j][k])
            m = 0            
            if (z <= 0):
                m = 0
            else:
                m = 1
            hasil2.append(z)
            arr2.append(m)
        arr1.append(arr2)
        hasil1.append(hasil2)
    arr.append(arr1)
    hasil.append(hasil1)
hasil

[[[0.0, 0.0], [-1.5000000000000004, 0.0], [0.16666666666666652, 1.0]],
 [[1.5000000000000004, 0.0], [0.0, 0.0], [1.666666666666667, 1.0]],
 [[-0.16666666666666652, -1.0], [-1.666666666666667, -1.0], [0.0, 0.0]]]

In [18]:
hasil1 = pd.DataFrame(arr)
hasil2 = pd.DataFrame(hasil)

In [19]:
hasil2

,0,1,2
0,"[0.0, 0.0]","[-1.5000000000000004, 0.0]","[0.16666666666666652, 1.0]"
1,"[1.5000000000000004, 0.0]","[0.0, 0.0]","[1.666666666666667, 1.0]"
2,"[-0.16666666666666652, -1.0]","[-1.666666666666667, -1.0]","[0.0, 0.0]"

In [20]:
hasil1

        0       1       2
0  [0, 0]  [0, 0]  [1, 1]
1  [1, 0]  [0, 0]  [1, 1]
2  [0, 0]  [0, 0]  [0, 0]

In [22]:
akhir = []
for i in range(len(gabung.iloc[0])):
    akhir1 = []
    for j in range(len(arr[i])):
        bla = sum(arr[i][j])*(1/len(arr[i][j]))        
        akhir1.append(bla)
    akhir.append(akhir1)
akhir

[[0.0, 0.0, 1.0], [0.5, 0.0, 1.0], [0.0, 0.0, 0.0]]

In [36]:
tmp = []
for i in range(len(akhir)):
    tmp1 = []
    for j in range(len(akhir[i])):
        tmp1.append(akhir[i][j])
    tmp.append(tmp1)
promethee1 = pd.DataFrame(data=tmp, columns = ['A','B','C'], index = ['A', 'B', 'C'])
promethee1

     A    B    C
A  0.0  0.0  1.0
B  0.5  0.0  1.0
C  0.0  0.0  0.0

In [39]:
def lflow():
    lf=[]
    for i in range(len(akhir)):
        jwb = (1/(len(akhir) - 1)) * sum(akhir[i])
        lf.append(jwb)
    return lf

def eflow():
    ef = []
    for i in range(len(promethee1)):
        jwb = (1/(len(promethee1) - 1)) * sum(promethee1.iloc[:,i])        
        ef.append(jwb)            
    return ef

def nef():
    lf=lflow()
    ef=eflow()
    nf = []    
    for i in range(len(ef)):
        jwb = lf[i]-ef[i]
        nf.append(jwb)
        nflow=pd.DataFrame(data=nf,columns=['Net Flow'])       
    return nflow
entringflow= pd.DataFrame(data=eflow(),columns=['Entring Flow'])    
leavingflow= pd.DataFrame(data=lflow(),columns=['Leaving Flow'])

In [14]:
promethee2=pd.concat([leavingflow,entringflow,nef()],axis=1)
promethee2

   Leaving Flow  Entring Flow  Net Flow
0          0.50          0.25      0.25
1          0.75          0.00      0.75
2          0.00          1.00     -1.00

In [15]:
perangkingan = promethee2.sort_values(by='Net Flow', ascending=False)
perangkingan

   Leaving Flow  Entring Flow  Net Flow
1          0.75          0.00      0.75
0          0.50          0.25      0.25
2          0.00          1.00     -1.00

In [18]:
perangkingan.as_matrix()

/opt/anaconda3/envs/promethee/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[ 0.75,  0.  ,  0.75],
       [ 0.5 ,  0.25,  0.25],
       [ 0.  ,  1.  , -1.  ]])